.companyLogo__image {
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  gap: 27px;
  margin-bottom: 23px;
}

.links__item {
  display: flex;
  align-items: center;
  height: 29px;
  width: 18px;
}
